
.scaleUp {
  transform: scale3d(1.04, 1.04, 1);
}

.scaleUpAndBackToNormalAnimation {
  animation: scaleUpAndBackToNormal 1.5s ease-out;
}

@keyframes scaleUpAndBackToNormal {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(1.05, 1.05, 1);
    opacity: 0.95;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}