.alert {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-epunch-green);
  color: var(--color-epunch-black);
  padding: 12px 10px;
  border-radius: 0.5svh;
  z-index: var(--z-header);
  width: 80svw;
  font-weight: bold;
  text-align: center;
  font-size: 1.3em;
} 