/* === OVERLAY STYLES === */
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
}

.label {
  width: 80%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--card-height) * 0.03);
  font-size: calc(var(--card-height) * 0.1);
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease;
  pointer-events: auto;
  cursor: pointer;
}

.selected {
  color: var(--color-epunch-gold);
  background-color: color-mix(in srgb, var(--color-epunch-gold) 30%, transparent);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


.redeemable {
  color: var(--color-epunch-green);
  background-color: color-mix(in srgb, var(--color-epunch-green) 30%, transparent);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
