.container {
  background-color: var(--color-epunch-mint);
  display: flex;
  flex-direction: column;
  border-radius: 2svw;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  padding: 2cqh;
  container-type: size;
  position: relative;
  transition: padding 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.container[data-expanded="true"] {
  width: 90%;
  height: 90%;
  padding: 0;
}

.qrWrapper {
  background-color: white;
  box-shadow:
    -4px 4px 8px rgba(0, 0, 0, 0.2),
    -8px 8px 24px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  border: 5cqh solid var(--color-epunch-white);
  cursor: pointer;
  width: 75cqh;
  transition: 
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrWrapper>svg {
  max-width: 100%;
  height: auto !important;
}

.qrWrapper[data-expanded="true"] {
  width: 100cqh;
  box-shadow: none;
}

.qrWrapper[data-reward="true"] {
  animation: pulse 2s ease-in-out infinite;
}

.modeText {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--epunch-black);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: 5cqh;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.rewardText {
  font-weight: 600;
  text-decoration: underline;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }
}