.container {
  background-color: var(--color-epunch-mint);
  display: flex;
  flex-direction: column;
  border-radius: 2svw;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  padding: 2cqh;
  container-type: size;
}

.container[data-expanded="true"] {
  width: 95%;
  height: 95%;
  padding: 0;
}

.qrWrapper {
  background-color: white;
  box-shadow:
    -4px 4px 8px rgba(0, 0, 0, 0.2),
    -8px 8px 24px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  border: 5cqh solid var(--color-epunch-white);
  cursor: pointer;
  width: 75cqh;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrWrapper>svg {
  max-width: 100%;
  height: auto !important;
}

.qrWrapper[data-expanded="true"] {
  width: 100cqh;
  box-shadow: none;
}

.qrWrapper[data-reward="true"] {
  animation: pulse 2s ease-in-out infinite;
}

.modeText {
  font-size: 1.1em;
  color: var(--epunch-black);
  text-align: center;
  margin-top: 2cqh;
}

.rewardText {
  font-weight: 600;
  text-decoration: underline;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }
}