@import '../punch-card-internal-layout.css';

/* === BACK CARD CONTAINER === */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #6d4c41;
  color: #f5f5dc;
  font-size: calc(var(--card-height) * var(--card-font-base-ratio));
  --remaining-height: calc(var(--card-height) * (1 - var(--header-height-ratio)));
}

/* === BACK HEADER === */
.header {
  height: calc(var(--card-height) * var(--header-height-ratio));
  background-color: #4a3e37;
  color: #f5f5dc;
  padding: calc(var(--card-height) * 0.02) calc(var(--card-height) * 0.04);
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.headerTitle {
  font-size: 1.6em;
  font-weight: bold;
}

/* === BACK CONTENT === */
.body {
  height: calc(var(--remaining-height) * (1 - var(--footer-body-ratio)));
  padding: calc(var(--card-height) * 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.rewardMessage {
  text-align: center;
}

.rewardText {
  color: rgb(244, 235, 235);
  font-size: 1.4em;
  line-height: 1.3;
}

.rewardName {
  font-weight: bold;
  text-align: center;
  margin-top: calc(var(--card-height) * 0.01);
}

.shopName {
  font-style: italic;
}

/* === BACK FOOTER === */
.backFooter {
  height: calc(var(--remaining-height) * var(--footer-body-ratio));
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.addressText {
  font-size: 1.5em;
  text-align: center;
} 