/* === BACK CARD CONTAINER === */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 
    calc(var(--card-height) * 0.22)
    calc(var(--card-height) * 0.56)
    calc(var(--card-height) * 0.22);
  background-color: #6d4c41;
  color: #f5f5dc;
  font-size: calc(var(--card-height) * 0.04);
}

/* === BACK HEADER === */
.header {
  background-color: #4a3e37;
  color: #f5f5dc;
  padding: var(--header-padding) var(--body-padding);
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 0.85em;
}

.headerTitle {
  font-size: 1.6em;
  font-weight: bold;
}

/* === BACK CONTENT === */
.body {
  padding: var(--body-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.rewardMessage {
  text-align: center;
}

.rewardText {
  color: rgb(244, 235, 235);
  font-size: 1.4em;
  line-height: 1.3;
}

.rewardName {
  font-weight: bold;
  text-align: center;
  margin-top: 0.25em;
}

.shopName {
  font-style: italic;
}

/* === BACK FOOTER === */
.backFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.addressText {
  font-size: 1.5em;
  text-align: center;
} 