/* === FRONT CARD STYLES === */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 
    calc(var(--card-height) * 0.22)
    calc(var(--card-height) * 0.56)
    calc(var(--card-height) * 0.22);
  background-color: #8d6e63;
}

/* === COMMON SECTION STYLES === */
.containerSection {
  box-sizing: border-box;
  display: flex;
}

/* === HEADER STYLES === */
.header {
  padding: var(--header-padding) var(--body-padding);
  justify-content: space-between;
  align-items: center;
  background-color: #5d4037;
  color: #f5f5dc;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  font-size: 0.85em;
}

/* === BODY STYLES === */
.body {
  padding: var(--body-padding);
  flex-direction: column;
}

/* === FOOTER STYLES === */
.footer {
  align-items: center;
  justify-content: center;
} 