/* === PUNCH CARD FRONT HEADER STYLES === */

.container {
  height: 100%;
  width: 100%;

  background-color: #5d4037;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(var(--card-height) * 0.05);
}

.shopName {
  color: #f5f5dc;
  font-size: calc(var(--card-height) * 0.1);
  font-weight: bold;
}

.checkIcon {
  font-size: calc(var(--card-height) * 0.13);
  font-weight: bolder;
  color: #44e62f;
  text-shadow: 
    0 0 10px #44e62f,
    0 0 20px #44e62f,
    0 0 30px #44e62f;
  transition: text-shadow 0.3s ease;
}

.checkIcon.selected {
  text-shadow: 
    0 0 10px #ffd700,
    0 0 20px #ffd700,
    0 0 30px #ffd700;
} 