/* === PUNCH CARD FRONT FOOTER STYLES === */

.container {
  flex-shrink: 0;
  text-align: center;
  min-height: 1.2em;
  color: #44e62f;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding-bottom: 2em;
}
