/* === PUNCH CARD FRONT BODY STYLES === */

/* === BODY CONTAINER === */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.80fr 0.15fr; /* 70% for punches section, 10% for loyalty program name */
  gap: 0.3em;
  overflow: hidden;
}

/* === PUNCHES SECTION LAYOUT === */
.punchesSection {
  display: flex;
  overflow: hidden;
  min-height: 0;
}

/* === PROGRAM SECTION LAYOUT === */
.loyaltyProgramSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* === PROGRAM SECTION VISUAL STYLES === */
.loyaltyProgramName {
  color: #2e1501;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  font-size: 7cqh;
} 