/* === PUNCH CARD FRONT BODY STYLES === */

/* === BODY CONTAINER === */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.7fr 0.3fr;
  gap: 1em;
}

/* === PUNCHES SECTION LAYOUT === */
.punchesSection {
  display: flex;
}

/* === PROGRAM SECTION LAYOUT === */
.loyaltyProgramSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* === PROGRAM SECTION VISUAL STYLES === */
.loyaltyProgramName {
  max-width: 100%;
  line-height: 1.1;
  color: #2e1501;
  font-size: 1.8em;
  font-weight: 900;
  font-style: italic;
  text-align: right;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
} 