/* === PUNCH CARD FRONT HEADER STYLES === */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(var(--card-height) * 0.05);
}

.shopName {
  font-weight: 900;
  font-size: calc(var(--card-height) * 0.08);
}

.readyIcon {
  font-size: calc(var(--card-height) * 0.10);
  font-weight: bold;
} 