.advanced-cropper {
  background: transparent;
  width: 100%;
  height: 100%;
}

.advanced-cropper__background {
  background: transparent !important;
}

.advanced-cropper__image {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
} 